*{
    margin: 0;
}
html {
    scroll-behavior: smooth;
   }

body{
    font-family: sans-serif;
}

nav{
    padding: 1vh;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    padding-right: 2vh;
    padding-left: 2vh;
    padding-top: 1vh;
}
nav ul li:hover{
    background: grey;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

#logo{
    width: 4vh;
    margin-right: auto;
}

.container{
    position: relative;
    text-align: center;
    width: 100%;
}
.name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#nmTxt{
    color: #E53DA2;
    font-size: 250%;
    font-weight: bold;
}